<%- include("partials/header.ejs") %>

<div>
    <ul class="nav nav-tabs justify-content-center mb-4 custom-nav">
        <li class="nav-item">
          <a class="nav-link fix-nav active" href="#blog" data-target="blog">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fix-nav" href="#featured" data-target="featured">Players</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fix-nav" href="#stats" data-target="stats">Stats</a>
          </li>
    </ul>
</div>

<div id="blog" class="container tab-content pb-4 fix-section live card">   
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Teams</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/new-team'">Add <i class="fa-solid fa-plus"></i></button>
        </div>
      </div>
    </div>  
    
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
          <thead class="table-dark">
              <tr>
                  <th>#</th>
                  <th>Team Name</th>
                  <th>City</th>
                  <th>Website</th>
                  <th>Logo</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
            <% if (teams.length === 0) { %>
                <tr>
                    <td colspan="5" class="text-center text-muted">No teams available.</td>
                </tr>
            <% } else { %>
                <% teams.forEach((team, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= team.teamname %></td>
                        <td><%= team.city %></td>
                        <td>
                            <% if (team.website) { %>
                                <a href="<%= team.website %>" target="_blank">Visit</a>
                            <% } else { %>
                                <span class="text-muted">No website</span>
                            <% } %>
                        </td>
                        <td><img src="<%= team.logo_url %>" alt="<%= team.teamname %> Image"></td>
                        <td>
                            <a href="/edit-team/<%= team.teamname %>" class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-edit"></i> Edit
                            </a>
                            <form action="/delete-team/<%= team.teamname %>" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash"></i> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            <% } %>
          </tbody>
      </table>
  </div>
</div> 

<div id="featured" class="container tab-content pb-4 fix-section card">   
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Players</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <form action="/search-player-stats" method="GET" class="d-flex mb-3 mx-5">
                <input type="text" name="query" id="searchInput" class="form-control me-2" placeholder="Search by player name..." required>
            </form>          
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/player'">Add <i class="fa-solid fa-plus"></i></button>
        </div>
      </div>
    </div>    
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
          <thead class="table-dark">
              <tr>
                  <th>#</th>
                  <th>Player Name</th>
                  <th>Team</th>
                  <th>Position</th>
                  <th>Nationality</th>
                  <th>Image</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
            <% if (players.length > 0) { %>
                <% players.forEach((player, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= player.fname + " " + player.lname %></td>
                        <td><%= player.teamname %></td>
                        <td><%= player.position %></td>
                        <td><%= player.nationality %></td>
                        <td><img src="<%= player.image_url %>" alt="<%= player.fname %> Image"></td>
                        <td>
                            <a href="/edit-player/<%= player.playerid %>" class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-edit"></i> Edit
                            </a>
                            <form action="/delete-player/<%= player.playerid %>" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash"></i> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="6" class="text-center">No players available</td>
                </tr>
            <% } %>
          </tbody>
      </table>
  </div>    
</div> 

<div id="stats" class="container tab-content pb-4 fix-section card">   
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Players Stats</h1>    
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <form action="/search-player-stats" method="GET" class="d-flex mb-3 mx-5">
                <input type="text" name="query" id="searchInput" class="form-control me-2" placeholder="Search by player name..." required>
            </form>
            <form action="/refresh-stats" method="POST">
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-arrow-rotate-right"></i> Refresh</button>
            </form>            
        </div>
      </div>
    </div>       
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Player Name</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Goals</th>
                    <th>Assists</th>
                    <th>Yellow Cards</th>
                    <th>Red Cards</th>
                    <th>Matches Played</th>
                    <th>Minutes Played</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if (stats.length > 0) { %>
                    <% stats.forEach((stat, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td class="player-name"><%= stat.fname + " " + stat.lname %></td>
                            <td><%= stat.teamname %></td>
                            <td><%= stat.position %></td>
                            <td><%= stat.goals %></td>
                            <td><%= stat.assists %></td>
                            <td><%= stat.yellowcards %></td>
                            <td><%= stat.redcards %></td>
                            <td><%= stat.matches_played %></td>
                            <td><%= stat.minutes_played %></td>
                            <td>
                                <a href="/edit-player-stats/<%= stat.playerid %>" class="btn btn-sm btn-warning">
                                    <i class="fa-solid fa-edit"></i> Edit
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="11" class="text-center text-muted">No stats data available.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>        
    </div> 
</div> 

<%- include("partials/footer.ejs") %>