<%- include("../partials/header.ejs") %>

<div class="container mb-3">
    <div class="card shadow-lg">
        <img src="<%= article.imageurl %>" class="article-img" alt="Article Image">
        <div class="card-body">
            <h1 class="card-title text-center"><%= article.title %></h1>
            <p class="text-muted text-center">
                By <strong><%= article.authorname %></strong> | Last Modified: <%= new Date(article.lastmodifieddate).toDateString()  %>
                at <%= new Date(article.lastmodifieddate).toTimeString().split(" ")[0]%>PM
            </p>
            <hr>
            <p class="card-text"><%= article.content %></p>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>